@import '../../../styles/settings.scss';

.root {
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
}

.button {
  font-size: large;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}

.root h1 {
  font-weight: normal;
}
