@import '../../../styles/settings.scss';

.root {
  min-width: 275px;
  min-height: 150px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
}

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

.title {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.pos {
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;

}

.author {
  font-style: italic;
  margin-bottom: 12;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.delete {
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}
