@import '../../../styles/settings.scss';

body {
  background-color: #F0F0F0;
}

 .root {
   display: flex;
   max-width: 900px;
   height: 100%;
   flex-direction: column;
   margin: 0 auto;
 }

 .box {
    display: flex;
    width: 450px;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
 }

 .space {
   margin: 10px;
 }

 .container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-wrap: wrap;
 }

 .title {
   display: flex;
   justify-content: center;
   font-family: 'Oswald', sans-serif;
   color: navy;
 }

 .field {
   outline: none;
   border-radius: 5px;
   font-family: 'Oswald', sans-serif;
   background-color: white;
 }

 .multi {
  outline: none;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  background-color: white;
 }

