@import '../../../styles/settings.scss';

.root {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.button {
  font-family: 'Oswald', sans-serif;
  background-color: white;
  color: #2c2c54;
}

.button:hover {
  background-color: white;
}
